<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rain Fall Predictor</title>
</head>
<body>

    <h1>Rain Fall Predictor</h1>
    <form method="post" action="/predict">
        <label>MinTemp</label><br>
        <input type="text" name="MinTemp"><br><br>

        <label>MaxTemp</label><br>
        <input type="text" name="MaxTemp"><br><br>

        <label>Rainfall</label><br>
        <input type="text" name="Rainfall"><br><br>

        <label>Evaporation</label><br>
        <input type="text" name="Evaporation"><br><br>

        <label>Sunshine</label><br>
        <input type="text" name="Sunshine"><br><br>

        <label>WindGustSpeed</label><br>
        <input type="text" name="WindGustSpeed"><br><br>

        <label>WindSpeed9am</label><br>
        <input type="text" name="WindSpeed9am"><br><br>

        <label>WindSpeed3pm</label><br>
        <input type="text" name="WindSpeed3pm"><br><br>

        <label>Humidity9am</label><br>
        <input type="text" name="Humidity9am"><br><br>

        <label>Humidity3pm</label><br>
        <input type="text" name="Humidity3pm"><br><br>

        <label>Pressure9am</label><br>
        <input type="text" name="Pressure9am"><br><br>

        <label>Pressure3pm</label><br>
        <input type="text" name="Pressure3pm"><br><br>

        <label>Cloud9am</label><br>
        <input type="text" name="Cloud9am"><br><br>

        <label>Cloud3pm</label><br>
        <input type="text" name="Cloud3pm"><br><br>

        <label>Temp9am</label><br>
        <input type="text" name="Temp9am"><br><br>

        <label>Temp3pm</label><br>
        <input type="text" name="Temp3pm"><br><br>

        <input type="submit" value="Predict"><br><br>
    </form>

</body>
</html>